<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <%= t "get_help" %>
  <%= link_to t("help_session"), Settings.link_rails.link_rails_help %>
  <%= t "get_to_help" %>
  <%= link_to t("ruby_on_rails"), Settings.link_rails.link_rails_book %> book.
</p>
